:root {
  --blue: #54aeef;
  --yellow: #ffd602;
  --pink: #fe8489;
  --white: #f5f5f5;
  --black: #1a1a1a;
  --back-color: linear-gradient(to left bottom, #efefef, #ffffff);

  --app-height: 700px;

  --anime-time-distance: 0.25s;
}
