@import "./reset.css";
@import "./font.css";

:root {
  --white: #f5f5f5;
  --black: #1a1a1a;
  --main-color: linear-gradient(to right, #ece9e6, #ffffff);
  --app-height: 500px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  font-family: Roboto, Noto Sans KR, sans-serif, Apple SD Gothic Neo;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows:/**/
    [app__main-logo] 18.72%
    [app__select-color] 9.36%
    [app__products] 1fr;
  width: 400px;
  min-width: 279px;
  min-height: var(--app-height);
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 6px 20px -5px var(--black);
}

/* -------------------------------------------------------------- */
/* ------------------ section [app__main-logo] ------------------ */
.app__main-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__main-logo__image {
  width: 9rem;
  height: 100%;
}

.logo__circle:nth-child(1) {
  opacity: 0;
  cx: 40;
  animation: gather1 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation-delay: 0.2s;
}

.logo__circle:nth-child(2) {
  opacity: 0;
  animation: gather2 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation-delay: 0.4s;
}

.logo__circle:nth-child(3) {
  opacity: 0;
  animation: gather3 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation-delay: 0.6s;
}

@keyframes gather1 {
  from {
    opacity: 0;
    cx: 40;
    cy: 12;
  }
  to {
    opacity: 1;
    cx: 20;
    cy: 28;
  }
}

@keyframes gather2 {
  from {
    opacity: 0;
    cx: 40;
    cy: 12;
  }
  to {
    opacity: 1;
    cx: 12;
    cy: 54;
  }
}

@keyframes gather3 {
  from {
    opacity: 0;
    cx: 40;
    cy: 12;
  }
  to {
    opacity: 1;
    cx: 60;
    cy: 42;
  }
}

.app__main-logo__text {
  position: absolute;
  top: 32.5%;
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #fdfdfd;
  text-shadow: 0.5px 1px 3px #1a1a1a;
  animation: boom 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 1s;
  left: 80%;
  opacity: 0;
}

@keyframes boom {
  from {
    left: 80%;
    opacity: 0;
  }
  to {
    left: 47%;
    opacity: 1;
  }
}

/* -------------------------------------------------------------- */
/* ------------------ section [app__select-color] ------------------ */
.app__select-color {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: [image-box] 1fr [color-select-btns] 1fr;
  opacity: 0;
  top: 0.5rem;
  animation: raiseUp 0.6s ease-in forwards;
  animation-delay: 1.5s;
}

@keyframes raiseUp {
  from {
    top: 1rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.app__select-color__image-box {
  display: flex;
  align-items: center;
}

.app__select-color__image-list {
  display: flex;
  padding: 0 0.3em;
}

.app__select-color__image {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0 0.2em;
}

.app__select-color__image--t-shirt {
  background: url(../img/blue_t.png) no-repeat center/100%;
}

.app__select-color__image--pants {
  background: url(../img/yellow_p.png) no-repeat center/100%;
}

.app__select-color__image--skirt {
  background: url(../img/pink_s.png) no-repeat center/100%;
}

.app__select-color__color-box {
  display: flex;
  justify-content: flex-end;
}

.app__select-color__btn-list {
  display: flex;
  align-items: center;
  padding: 0 0.3em;
}

.app__select-color__btn {
  width: 2em;
  height: 2em;
  margin: 0 0.2em;
  border-radius: 0.4em;
  cursor: pointer;
  box-shadow: 0.02em 0.05em 0.15em -0.04em var(--black);
  transition: filter 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.app__select-color__btn:hover,
.app__select-color__btn:focus {
  filter: grayscale(10%) contrast(70%);
}

.app__select-color__btn--blue {
  background: #54aeef;
}

.app__select-color__btn--yellow {
  background: #ffd602;
}

.app__select-color__btn--pink {
  background: #fe8489;
}
/* -------------------------------------------------------------- */
/* ------------------ section [app__products] ------------------ */
.app__products {
  position: relative;
  justify-self: left;
  width: 100%;
  margin-top: 0.5rem;
  background-color: var(--white);
  border-top: 6px solid #bbbbbb;
}

.app__products__items {
}

.app__products__item {
}

.app__products__item__image {
}

.app__products__item__desc {
}

.app__products__inner-paging {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
}

.app__products__page-numbers {
  display: flex;
}

.app__products__page-number {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #7a7a7a;
  margin: 0.2rem 0.5rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.app__products__page-number:hover,
.app__products__page-number:focus {
  background-color: #cccccc;
}

.app__products__page-number--current {
  font-size: 1.6rem;
  font-weight: 700;
  cursor: initial;
}

.app__products__page-number--current:hover,
.app__products__page-number--current:focus {
  background-color: inherit;
}

.app__products__page-btn {
  position: absolute;
  color: #6e6e6e;
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 0.01s ease-in-out;
}

.app__products__page-btn:hover,
.app__products__page-btn:focus {
  transform: scale(1.15);
  background-color: #cccccc;
}

.app__products__page-btn--left {
  left: -1.5rem;
}

.app__products__page-btn--right {
  right: -1.5rem;
}

.app__products__page-btn--disabled {
  display: none;
}
/* **--------for dev--------** */

/* **--------for dev--------** */

/* **-------- start media query --------** */

@media (max-width: 1023px) {
  html {
    font-size: 22px;
  }
  .app {
    width: 100%;
    height: 100%;
    border-radius: initial;
    box-shadow: inset 0 0.4rem 0 var(--main-color);
  }
  .app__main-logo__image {
    min-width: 195px;
  }

  .app__main-logo__text {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 19px;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 18px;
  }

  .app__select-color {
    display: flex;
    justify-content: flex-end;
  }

  .app__select-color__image-box {
    display: none;
  }
}

@media (max-width: 440px) and (orientation: landscape) {
  .app {
    min-height: initial;
    grid-template-rows:/**/
      [app__select-color] fit-content
      [app__products] 1fr;
  }

  .app__main-logo {
    display: none;
  }
}

/* **-------- end media query --------** */
