@import "./reset.css";
@import "./font.css";

:root {
  --white: #ffffff;
  --black: #050505;
  --main-color: #f9c413;
  --app-height: 500px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  font-family: Roboto, Noto Sans KR, sans-serif, Apple SD Gothic Neo;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows:/**/
    [app__main-logo] 20%
    [app__select-color] 10%
    [app__products] 70%;
  width: 400px;
  min-width: 279px;
  min-height: var(--app-height);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 10px 25px -5px var(--black);
}

/* -------------------------------------------------------------- */
/* ------------------ section [app__main-logo] ------------------ */
.app__main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__main-logo__image {
  width: calc(var(--app-height) / 4.4); /* 앱 높이에 비례 */
  height: 100%;
  max-height: inherit;
  background: url(../img/logo.png) no-repeat center/100%;
}

/* -------------------------------------------------------------- */
/* ------------------ section [app__select-color] ------------------ */
.app__select-color {
  position: relative;
  justify-self: stretch;
  display: grid;
  grid-template-columns: [image-box] auto [color-select-btns] 1fr;
}

.app__select-color__image-box {
  display: flex;
  align-items: center;
}

.app__select-color__image-list {
  display: flex;
}

.app__select-color__image {
  margin-left: 0.5rem;
}

.app__select-color__image {
  height: 2rem;
}

.app__select-color__btn-list {
  display: flex;
}

/* -------------------------------------------------------------- */
/* ------------------ section [app__products] ------------------ */
.app__products {
  justify-self: left;
  width: 100%;
  background-color: var(--white);
}

/* **-------- start media query --------** */

@media (max-width: 1023px) {
  html {
    font-size: 22px;
  }
  .app {
    width: 100%;
    height: 100%;
    border-radius: initial;
    box-shadow: inset 0 0.4rem 0 var(--main-color);
  }
  .app__main-logo__image {
    min-width: 130px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 21px;
  }
}

@media (max-height: 399px) and (orientation: landscape) {
  .app {
    min-height: 0;
    width: 100%;
    height: 100%;
  }
}

/* **-------- end media query --------** */

/* **--------for dev--------** */
.app__main-logo,
.app__select-color,
.app__products {
  border: 1px solid black;
}

.app__select-color__image-box {
  background-color: #ddd;
}
/* **--------for dev--------** */
